<h3 class="text-center mt-3"><i class="fas fa-chart-bar"></i>&nbsp; Statistics</h3>
    <hr>
    <div class="row container fluid pt-3 pb-5" style="margin:auto;">
        <!-- revenue chart -->
        <div class="col-lg-6">
            <canvas id="revenueChart"></canvas>
        </div>
        <!-- orders chart -->
        <div class="col-lg-6">  
            <canvas id="bookingsChart"></canvas>
        </div>
    </div>
    <div class="row container fluid pt-3 pb-5" style="margin:auto;">
        <!-- category chart -->
        <div class="col-lg-6"> 
            <canvas id="genreChart"></canvas>
        </div>
        <!-- gender chart --> 
        <div class="col-lg-6">
            <canvas id="genderChart"></canvas>
        </div> 
    </div>