#home{
    background-image: url('src/assets/images/background.jpg');
    background-repeat: no-repeat;
}
#intro-heading{
    font: normal normal normal 30px/1.4em belinda-w00-regular,script;
    font-size: 90px;
}
.book-tickets{
    background-color: #FF66F5;
    border-color: rgba(255, 255, 255, 1);
}