<div id="home" class="px-sm-5 pb-5 w-100">
    <app-top-navbar></app-top-navbar>
    <div id="intro-heading" class="mt-5 text-white pt-5">
        <Span>Snap Your Tickets</Span>
        <span class="d-block">Movie Booking</span>
    </div>
    <div id="intro-description" class="text-white">
        <p>I'm a paragraph. Click here to add your own text and edit me.
            I’m a great place for you to tell a story and let your users know a little more about you</p>
    </div>
    <div class="py-5">
        <button class="btn book-tickets py-3 px-4">
            Book Tickets
        </button>
    </div>
</div>
<div class="p-5 text-white" id="now-playing">
    <h2 class="mt-5">Now Playing</h2>
    <hr class="solid">
    <div class="card-deck d-flex movies mt-5">
        <div class="card h-100">
        </div>
        <div class="card h-100">
        </div>
        <div class="card h-100">
        </div>
        <div class="card h-100">
        </div>
    </div>
    <div class="py-5 my-5 row justify-content-center">
        <button class="btn book-tickets py-3 px-4">
            View Showtimes
        </button>
    </div>
    <div class="mt-5" id="coming-soon">
        <h2>Coming Soon</h2>
        <div class="card-group mt-5">
            <div class="card bg-transparent border">
                <div class="card-body text-center my-3">
                    <span class="genre py-2 px-3">Romantic</span>
                    <span class="d-block my-3 movie-name">Kissing Booth: 2</span>
                    <a href="https://www.youtube.com/watch?v=fjVonI2oVeM" target="_blank" class="d-flex justify-content-center">
                        <i class="fa fa-play-circle-o fa-2x mr-2" aria-hidden="true"></i>
                        <span class="mt-1">Watch Trailer</span>
                    </a>
                </div>
            </div>
            <div class="card bg-transparent border">
                <div class="card-body text-center my-3">
                    <span class="genre py-2 px-3">Action</span>
                    <span class="d-block my-3 movie-name">The New Mutants</span>
                    <a href="https://www.youtube.com/watch?v=W_vJhUAOFpI" target="_blank" class="d-flex justify-content-center">
                        <i class="fa fa-play-circle-o fa-2x mr-2" aria-hidden="true"></i>
                        <span class="mt-1">Watch Trailer</span>
                    </a>
                </div>
            </div>
            <div class="card bg-transparent border">
                <div class="card-body text-center my-3">
                    <span class="genre py-2 px-3">Comedy</span>
                    <span class="d-block my-3 movie-name">The King's Man</span>
                    <a href="https://www.youtube.com/watch?v=5zdBG-iGfes" target="_blank" class="d-flex justify-content-center">
                        <i class="fa fa-play-circle-o fa-2x mr-2" aria-hidden="true"></i>
                        <span class="mt-1">Watch Trailer</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="p-5 text-white" id="how-it-works">
    <h2 class="my-5 row justify-content-center">How it Works</h2>
    <div class="card-deck my-5 pt-5">
        <div class="card bg-transparent">
            <div class="card-body text-center">
                <h1>01</h1>
                <hr class="underline">
                <img src="/assets/images/1.webp" alt="" class="d-block m-sm-5 py-3">
                <h2>Buy Your Tickets</h2>
                <p class="text-left m-sm-3">I'm a paragraph. Click here to add your own text and edit me.</p>
            </div>
        </div>
        <div class="card bg-transparent">
            <div class="card-body text-center">
                <h1>02</h1>
                <hr class="underline">
                <img src="/assets/images/2.webp" alt="" class="d-block m-sm-5 py-3">
                <h2>Park Your car</h2>
                <p class="text-left m-sm-3">I'm a paragraph. Click here to add your own text and edit me.</p>
            </div>
        </div>
        <div class="card bg-transparent">
            <div class="card-body text-center">
                <h1>03</h1>
                <hr class="underline">
                <img src="/assets/images/3.webp" alt="" class="d-block m-sm-5 py-3">
                <h2>Set Up Tunes</h2>
                <p class="text-left m-sm-3">I'm a paragraph. Click here to add your own text and edit me.</p>
            </div>
        </div>
        <div class="card bg-transparent">
            <div class="card-body text-center">
                <h1>04</h1>
                <hr class="underline">
                <img src="/assets/images/4.webp" alt="" class="d-block m-sm-5 py-3">
                <h2>Enjoy The Show</h2>
                <p class="text-left m-sm-3">I'm a paragraph. Click here to add your own text and edit me.</p>
            </div>
        </div>
    </div>
    <div class="text-center ticket-prices text-dark py-3">
        <h2 class="py-3">Ticket Prices</h2>
        <hr class="my-3 mx-5 tickets">
        <div class="d-flex py-3">
            <div class="ml-3 pl-sm-5">
                <h4>General</h4>
                <h4>Admissions:</h4>
            </div>
            <div class="mx-sm-5">
                <h4>Children 5-11</h4>
                <h4>Years Old:</h4>
            </div>
            <div>
                <h4>Under 5</h4>
                <h4>Years Old:</h4>
            </div>
        </div>
        <hr class="my-3 mx-5 tickets">
        <div class="d-flex ">
            <div class="ml-3 px-sm-5">
                <h1>$ 11</h1>
            </div>
            <div class="mx-5 px-sm-5">
                <h1>$ 3.5</h1>
            </div>
            <div>
                <h1>Free</h1>
            </div>
        </div>
    </div>
    <div class="snacks text-center">
        <div class="designs w-50 d-flex">
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
            <div class="triangle"></div>
        </div>
        <div class="text-center d-flex py-3">
            <div class="mx-5">
                <h1 class="my-5">Enjoy your Time ..!</h1>
                <p>I'm a paragraph. Click here to add your own text and edit me.</p>
                <p>I'm a paragraph. Click here to add your own text and edit me.</p>
                <img src="/assets/images/couple.png" alt="">
            </div>
            <img src="/assets/images/icecream.webp" alt="">
        </div>
    </div>
    <div class="pt-5 about text-center" id="about">
        <h1>Take a Close Look At Us,</h1>
        <h1> We Don't Bite</h1>
        <p>I'm a paragraph. Click here to add your own text and edit me.
            I’m a great place for you to tell a story and let your users know a little more about you.
            I'm a paragraph. Click here to add your own text and edit me.
            I’m a great place for you to tell a story and let your users know a little more about you.
        </p>
    </div>
</div>
<app-bottom-navbar></app-bottom-navbar>