<div>
    <div style="margin-top: 5%; margin-left: 25%;">
        <div>
            <input type="text" style="margin-left: 5%; text-align: center;" value="Booking ID ">
            <input type="text" style="margin-left: 5%; text-align: center;" value="{{bookingId}} ">
        </div>
        <div>
            <input type="text" style="margin-left: 5%; text-align: center;" value="City  ">
            <input type="text" style="margin-left: 5%; text-align: center;" value="{{cityName}} ">
        </div>
        <div>
            <input type="text" style="margin-left: 5%; text-align: center;" value="Movie ">
            <input type="text" style="margin-left: 5%; text-align: center;" value="{{movieName}} ">
        </div>
        <div>
            <input type="text" style="margin-left: 5%; text-align: center;" value="Theatre ">
            <input type="text" style="margin-left: 5%; text-align: center;" value="{{theatreName}} ">
        </div>
        <div>
            <input type="text" style="margin-left: 5%; text-align: center;" value="Screen">
            <input type="text" style="margin-left: 5%; text-align: center;" value="{{screenName}} ">
        </div>
        <div>
            <input type="text" style="margin-left: 5%; text-align: center;" value="Show Date ">
            <input type="text" style="margin-left: 5%; text-align: center;" value="{{showDate}} ">
        </div>
        <div>
            <input type="text" style="margin-left: 5%; text-align: center;" value="Seat Number ">
            <input type="text" style="margin-left: 5%; text-align: center;" value="{{seatNo}} ">
        </div>
        <div>
            <input type="text" style="margin-left: 5%; text-align: center;" value="Total Cost ">
            <input type="text" style="margin-left: 5%; text-align: center;" value="{{totalCost}} ">
        </div>
    </div>
</div>

