<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="my-4">
                <!-- Search form -->
                <input class="form-control" type="text" placeholder="Search Theatre" aria-label="Search">
            </div>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-lg-4">
            <form [formGroup]="city" (ngSubmit)="addCity()" autocomplete="off">
                <div class="row my-4">
                    <input type="text" class="form-control " id="CityName" placeholder="City Name"
                                formControlName="cityName" />
                    <button class="btn btn-primary">Add City</button>            
                </div>
            </form>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="content col-sm-4" *ngFor="let city of cities;let i = index">
                <div class="card">
                    <img class="card-img-top img-fluid" src="../../../assets/images/city.jpg" alt="Card image cap">
                    <div class="card-block p-2">
                        <h4 class="card-title text-center mb-4">{{city.cityName}}</h4>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>