<form [formGroup]= "registerForm" autocomplete="off" (submit)="onSubmit()">
    <div class="d-flex">
        <div class="form-group required">
            <label>Enter Full Name</label>
            <input class="form-control" formControlName="fullName">
            <label  class="text-danger" *ngIf="registerForm.get('fullName').touched && registerForm.get('fullName').errors?.required">
                Required Field
            </label>
            <label  class="text-danger" *ngIf="registerForm.get('fullName').touched && registerForm.get('fullName').errors?.pattern">
                Only Characters are Allowed
            </label>
        </div>
    </div>
    <div class="form-group required">
        <label>Email</label>
        <input class="form-control" formControlName="email">
        <label  class="text-danger" *ngIf="registerForm.get('email').touched && registerForm.get('email').errors?.required">
            Required Field
        </label>
        <label  class="text-danger" *ngIf="registerForm.get('email').touched && registerForm.get('email').errors?.email">
            Invalid email
        </label>
    </div>
    <div class="d-flex">
        <div class="form-group required">
            <label>Gender</label>
            <select class="form-control" formControlName="gender">
                <option selected></option>
                <option >Male</option>
                <option>Female</option>
                <option>Prefer Not to Say</option>
            </select>
            <label  class="text-danger" *ngIf="registerForm.get('gender').touched && registerForm.get('gender').errors?.required">
                Required Field
            </label>
        </div>
        
    </div>
    <div class="form-group required">
        <label>Mobile No.</label>
        <input class="form-control" formControlName="mobileNo">
        <label class="text-danger" *ngIf="registerForm.get('mobileNo').touched && registerForm.get('mobileNo').errors?.required">
            Required Field
        </label>
        <label class="text-danger" *ngIf="registerForm.get('mobileNo').touched && registerForm.get('mobileNo').errors?.pattern">
            Enter 10 digit Number
        </label>
    </div>
    <div class="d-flex">
        <div class="form-group required">
            <label>Password</label>
            <div id="password">
                <input type="password" [type]="show ? 'text' : 'password'" class="form-control" formControlName="password">
                <i class="fa fa-eye fa-2x ml-1" aria-hidden="true" (click)="password()"></i>
            </div>
            <label class="text-danger" *ngIf="registerForm.get('password').touched && registerForm.get('password').errors?.required">
                Required Field
            </label>
            <label class="text-danger" *ngIf="registerForm.get('password').touched && registerForm.get('password').errors?.minlength">
                Minimum 4 length
            </label>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]= "!registerForm.valid">Register</button>
    </div>
</form>