input{
    width: 200px;
    background-color: rgba(0,0,0,0);
    color: white;
}
.d-flex{
    flex-wrap: wrap;
}
input.form-control,input.form-control:focus,select.form-control,select.form-control>option{
    background-image: linear-gradient(to right,rgba(12,59,87,0.7),rgba(55,2,20,0.7));
    color: #fff;
    border: 1px solid rgb(251, 255, 13);

}

input.form-control:focus{
    box-shadow: none;
}

div.form-group label:not(.text-danger){
    color: rgb(255,255,255);
    font-weight: 500;
}

div.form-group.required>label:first-child:after{
    content:'*';
    color: rgb(255, 3, 247);
    padding-left: 5px;
}
#password{
    display: flex;
}
#password i{
    color: floralwhite;
}
#password i:hover{
    cursor: pointer;
    color: red;
}
#age{
    width: 50px;
}