<form [formGroup]= "registerForm" autocomplete="off" (submit)="onSubmit()">
    <div class="d-flex">
        <div class="form-group required">
            <label>Enter Full Name</label>
            <input class="form-control" formControlName="customerName">
            <label  class="text-danger" *ngIf="registerForm.get('customerName').touched && registerForm.get('customerName').errors?.required">
                Required Field
            </label>
            <label  class="text-danger" *ngIf="registerForm.get('customerName').touched && registerForm.get('customerName').errors?.pattern">
                Only Characters are Allowed
            </label>
        </div>
    </div>
    <div class="form-group required">
        <label>Email</label>
        <input class="form-control" formControlName="email">
        <label  class="text-danger" *ngIf="registerForm.get('email').touched && registerForm.get('email').errors?.required">
            Required Field
        </label>
        <label  class="text-danger" *ngIf="registerForm.get('email').touched && registerForm.get('email').errors?.email">
            Invalid email
        </label>
    </div>
    <div class="d-flex">
        <div class="form-group required">
            <label>gender</label>
            <select class="form-control" formControlName="customerGender">
                <option selected></option>
                <option >Male</option>
                <option>Female</option>
                <option>Prefer Not to Say</option>
            </select>
            <label  class="text-danger" *ngIf="registerForm.get('customerGender').touched && registerForm.get('customerGender').errors?.required">
                Required Field
            </label>
        </div>
        
    </div>
    <div class="form-group required">
        <label>Mobile No.</label>
        <input class="form-control" formControlName="customerContact">
        <label class="text-danger" *ngIf="registerForm.get('customerContact').touched && registerForm.get('customerContact').errors?.required">
            Required Field
        </label>
        <label class="text-danger" *ngIf="registerForm.get('customerContact').touched && registerForm.get('customerContact').errors?.pattern">
            Enter 10 digit Number
        </label>
    </div>
    <div class="d-flex">
        <div class="form-group required">
            <label>Password</label>
            <div id="customerPassword">
                <input type="customerPassword" [type]="show ? 'text' : 'customerPassword'" class="form-control" formControlName="customerPassword">
                <i class="fa fa-eye fa-2x ml-1" aria-hidden="true" (click)="customerPassword()"></i>
            </div>
            <label class="text-danger" *ngIf="registerForm.get('customerPassword').touched && registerForm.get('customerPassword').errors?.required">
                Required Field
            </label>
            <label class="text-danger" *ngIf="registerForm.get('customerPassword').touched && registerForm.get('customerPassword').errors?.minlength">
                Minimum 4 length
            </label>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" [disabled]= "!registerForm.valid">Register</button>
    </div>
</form>