.navbar-brand{
    font-family: Mistral;
    font-size: 25px;
    color: #FF66F5;
}
.solid{
    height: 1px;
    background-color: #fff;
}
#my-balance{
    color: yellow;
    border: 1px solid yellow;
    font-family: Mistral;
}
#my-balance:hover{
    color: black;
    background-color: yellow;
}
.navbar .navbar-toggler-icon{
    background-image: url('src/assets/images/toggle.png');
}
a{
    text-decoration: none;
    color: white;
}
.nav-link:hover{
    color: #FF66F5;
}
.social-links{
    font-size: 20px;
}
.social-links a:nth-child(1):hover{
    cursor: pointer;
    color: blue;
}
.social-links a:nth-child(2):hover{
    cursor: pointer;
    color: skyblue;
}
.social-links a:nth-child(3):hover{
    cursor: pointer;
    color: orangered;
}
#logOut{
    color: #FF66F5;
    font-size: 20px;
}
.modal-title{
    font-family: Mistral;
    font-size: 40px;
    color: #FF66F5;
}
.modal-content{
    background-color: black;
    border: 1px solid white;
}
tr:hover{
    cursor: pointer;
    color: #FF66F5;
}
.close{
    color: white;
}