body{
    background-image: url('src/assets/images/background.jpg');
    background-repeat: no-repeat;
<<<<<<< HEAD
}
.card{
     background-color: rgba(12,59,87,0.7);
     width: 40%;
    
}
#showInput{
   background-color: rgba(55,2,20,0.7);
}
i{
    color: yellow;
    font-size: 20px;
}
.card-title i{
    color: greenyellow;
    
=======
>>>>>>> 4b03b4bcab83643bffd4100bcc71a6f9c998c910
}